div {
    border: 5px rgb(0, 0, 0);
    margin: 0px auto;
text-align: center;
}

.mainhead {
    color: rgb(0, 0, 0);
    text-align: center;
    top: 150%;
    left: 0;
    right: 0;
    font-size: 50px;

}

.secondheading {
    overflow: hidden; /* Hide overflowing text */
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap; /* Keep text on a single line */
    font-size: 50px;
    color: rgb(0, 0, 0);
    animation: typing 6s steps(53) infinite, blink-caret .1s step-end infinite;
    height: inherit;
  }
  
  
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }


  @keyframes cursor {
    50% { border-color: transparent }
  }



  .text
  


  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.video-background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    

    /* ... Your existing CSS ... */

.button-box {
    position: absolute;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    left: 50%;
    transform: translateX(-100%);
    background-color: #7289DA; /* Discord color */
    padding: 103px 20px;
    border-radius: 44px;
    text-align: center;
}

.button-box a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}
